@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.trans-all {
    transition: 0.2s all;
}

.trans-bg {
    transition: background 0.2s;
}

input[type="text"]:disabled {
    @apply bg-gray-300 cursor-not-allowed;
}

button:disabled {
    @apply bg-gray-300 cursor-not-allowed;
    transition: none;
}

.markdown h1, h2, h3, h4, h5, h6 {
    font-weight: bold; 
}

summary:hover {
    cursor: pointer;
}

/* input {
    display: block;
    margin: 1rem auto;
    width: 100%;
    max-width: 900px;
    padding: 0.5rem 1rem;
    background: #eeeeee;
    font-size: inherit;
    transition: 0.2s all;
    box-shadow: none;
    border: none;
}

input:hover {
    background: white;
}

input:active {
    background: white;
    border: 2px solid blue;
} */
