@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: 0.2s fade-in;
}

.trans-all {
    transition: all 0.3s ease;
}

.markdown h1 {
    @apply text-3xl font-bold mt-12 mb-4;
    letter-spacing: -1.5px;
}

.markdown h2 {
    @apply text-2xl font-bold mt-10;
    letter-spacing: -1px;
}

.markdown h3 {
    @apply text-xl font-bold mt-8;
    letter-spacing: -0.5px;
}

.markdown p {
    @apply mb-4 mt-4;
}

.markdown ul {
    @apply my-2 ml-8;
    list-style-type: disc;
}

.markdown ol {
    @apply my-2 ml-8;
    list-style-type: decimal;
}

.markdown hr {
    @apply my-12;
}

.markdown.low-headings h1, h2, h3 {
    @apply mt-2;
}

.max-w-900 {
    max-width: 900px;
}

.markdown table {
    @apply text-sm;
    margin: 1.5rem 0;
    border-collapse: collapse;
  }
.markdown th {
    @apply border-gray-300 border font-bold p-2 bg-gray-200;
  }
.markdown td {
    @apply border-gray-300 border w-auto;
    padding: 0.5rem;
}

.pre-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
}